*{
    font-family: 'Open Sans', sans-serif;
}

.contenedor-titulo-datos {
    text-align: center;
}

.titulo-n h2{
    font-size: 4.5rem; /* Tamaño grande para el título */
    font-weight: bold; /* Puedes ajustar el peso de la fuente según tus preferencias */
    font-family: 'Open Sans', sans-serif;
}

.titulo-n{
    margin-bottom: 20px; /* Margen inferior para separar el título del subtítulo */
}

.fino {
    font-weight:800; /* Hace que "Hola! Somos" tenga letras más finas */
}

.subtitulo-datos {
    padding-left: 100px;
    padding-right: 100px;
}

.subtitulo-datos h4 {
    font-weight:500;
    font-size: 1.5rem; /* Tamaño grande para el subtítulo */
    margin-top: 5px; /* Margen superior para separar el subtítulo del título */
    margin-bottom: 100px;

}

.panelDinamico {
    margin-bottom: 30px;
}

.panelDinamico iframe {
    margin-left: 50px;
}