*{
    font-family: 'Open Sans', sans-serif;
}

.contenedor-titulo-blog {
    text-align: center;
    background-color: white;
    color: black;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
    margin-top: -30px;
    position: relative; /* Añadido para que los pseudo-elementos sean posicionados relativos a este contenedor */
}

/* Línea izquierda */
.contenedor-titulo-blog::before {
    content: '';
    position: absolute;
    top: -100px;
    bottom: 0;
    left: 0;
    width: 2px; /* Ancho de la línea */
    background-color: black;
    margin-left: 400px;
    rotate: 90deg;
}

/* Línea derecha */
.contenedor-titulo-blog::after {
    content: '';
    position: absolute;
    top: -100px;
    bottom: 0;
    right: 0;
    width: 2px; /* Ancho de la línea */
    background-color: black;
    margin-right: 400px;
    rotate: 90deg;
}

.titulo-blog h1 {
    font-size: 4.5rem;
    font-weight: normal;
}

.locales {
    font-weight: bold;
}

.guias {
    font-weight: 500;
}

.subtitulo-blog h4 {
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 5px;
}
/* ------------------- CONTENIDO 1 ------------------- */
.contenido1 {
   display: flex;
   margin-top: 20px;
   padding: 50px;
   border-radius: 15px;
}

.contenido1 ul {
    padding-left: 390px;
    list-style: none;

}

.contenido1 ul h2{
    font-size: 1.8rem;
    margin-bottom: 5px;
    margin-top: -5px;
}

.contenido1 li {
    font-weight: 500;
    margin-bottom: 15px;
    font-size: 1rem;
}



.sublista li {
    margin-bottom: 10px;
    font-weight: 500;
}

.sublista strong,
.contenido1 ul strong {
    font-weight: bold;
    font-size: 1.2rem;
}

.imgblog {
    width: 300px;
    height: 300px;
    margin-right: 20px;
    margin-bottom: 400px;
}

.imgblog img {
    height: 230%;
    border-radius: 15px;
}

/* ------------------- CONTENIDO 2 ------------------- */

.contenedorBlog1 {
    margin-bottom: 100px;
}

.contenido-texto2 p{
    font-weight: 500;
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.contenido3 {
    background:  #ececec;   /* Agrega un degradado de color de arriba hacia abajo */
    padding: 50px;
    display: flex;
}

.contenido3 h2 {
    font-size: 1.8rem;
    margin-bottom: 5px;
}
.contenido3 h4 {
    margin-bottom: 15px;
}

.imgblog3 img {
    width: 690px;
    height: 650px;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 15px;
}

.contenido4 {
    padding: 50px;
    display: flex;
}

.contenido4 h4 {
    margin-bottom: 15px;
}

.imgblog4 img {
    width: 690px;
    height: 650px;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 15px;
}

.contenido5 {
    background:  #ececec;
    padding: 50px;
    display: flex;
}

.contenido5 h2 {
    margin-bottom: 5px;
}

.imgblog5 img {
    width: 690px;
    height: 650px;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 15px;
}

@media only screen and (max-width: 767px) {
.blog {
    margin-top: -250px;
}

    .contenido1 {
        display: block;
    }

    .contenedor-titulo-blog::before {
        display: none;
    }
    
    /* Línea derecha */
    .contenedor-titulo-blog::after {
        display: none;
    }

    .contenido1 ul {
        padding-left: 0px;
    }

    .imgblog {
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .imgblog img {
        width: 100%;
        height: 100%;
    }

    .contenido3 {
        display: block;
    }

    .imgblog3 img {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .contenido4 {
        display: block;
    }

    .imgblog4 img {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .contenido5 {
        display: block;
    }

    .imgblog5 img {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        margin-bottom: 20px;
    }
}

