/* ----------------------------------------- GENERAL ------------------------------------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

/* ----------------------------------------- HEADER ------------------------------------------- */
.contenedor{
    padding-left:2px; /* Espacio alrededor del contenido del contenedor */
    padding-right: 2px; /* Espacio alrededor del contenido del contenedor */
}
.contenedor-recarga {
    padding-top: 270px;
}


.contenedor-header {
    position: relative; /* Posición relativa para que el encabezado se pueda superponer a la imagen de fondo */
}

header {
    display: flex; /* Para que los elementos del encabezado se muestren en línea */
    justify-content: space-between; /* Para alinear elementos en el centro */
    align-items: center; /* Para alinear elementos en el centro */
    position: fixed; /* Fija el encabezado en la parte superior de la página */
    padding: 10px; /* Espacio alrededor del encabezado */
    width: 100%; /* Ajusta el ancho del encabezado al 100% */
    background-color: rgba(255, 255, 255, 0.7); /* Fondo semi-transparente para el encabezado */
    z-index: 1; /* Para que el encabezado esté por encima de la imagen de fondo */
}

.nav-header {
    width: 45%;
    margin-right:5%; /* Margen derecho para el menú */
}

.logo-header{
    margin-left: 5%; /* Margen izquierdo para el logo */
}

.li-header {
    flex: 1; /* Distribuye el espacio de manera igual entre los elementos */
    text-align: center; /* Alinea el texto en el centro de cada elemento */
    margin: 0 5px; /* Margen horizontal entre elementos del menú */
    padding: 10px 20px; /* Espacio alrededor del texto del enlace */
}

.ul-header {
    list-style: none; /* Quita las viñetas de la lista */
    display: flex; /* Para que los elementos de la lista se muestren en línea */
    background-color: rgb(235, 96, 99); /* Color de fondo del menú */
    border-bottom-left-radius: 15px; /* Borde redondeado izquierdo */
    border-top-left-radius: 15px; /* Borde redondeado derecho */
    border-bottom-right-radius: 15px; /* Borde redondeado derecho */
    border-top-right-radius: 15px; /* Borde redondeado derecho */
}

.a-header{
    padding: 5px 0px;
    display: block; /* Convierte el enlace en un elemento de bloque */
    color: #FFFFFF; /* Color del texto */
    font-size: 16px; /* Tamaño de la fuente */
    text-decoration: none; /* Quita la decoración de texto (subrayado) */
    transition: inherit; /* Agrega una transición para suavizar el cambio de color */
    white-space: nowrap; /* Evita que el texto se desborde */
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.a-header:hover {
    color: rgb(236, 232, 223);
}

/* ----------------------- Estilo base para la lista desplegable (inicialmente oculta) ------------------------ */
.ul-sublista {
    display: none;
    position: absolute;
    background-color:  #0367A6 ; /* Color de fondo de la sublista */
    z-index: -1; /* Para que esté por encima de otros elementos */
    margin: 2px;
    padding: 15px 10px; 
    
}

/* Estilo para los elementos de la sublista */
.li-sublista {
    margin: 0;
    padding: 5px 10px;
}

/* Estilo para los enlaces de la sublista */
.a-sublista {
    color:  #FFFFFF; /* Cambia el color de texto de la sublista */
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.a-sublista:hover {
    color:  rgb(236, 232, 223); /* Cambia el color del texto en estado de hover */
}

/* Mostrar la sublista cuando se pasa el puntero sobre "Soluciones" */
.li-header:hover .ul-sublista {
    display: block;
    list-style: none;
    border-radius: 7px;
}

/* ----------------------------------------- fin lista desplegable ------------------------------------------- */

/* ------------------ IMG FONDO Y FRASE PRINCIPLA ---------------------------*/

.imagen-fondo {
    background-image: url('/img/iniciofinal1.gif');  /* Imagen de fondo header */
    background-size: 100% 100%; /* Ajusta la imagen de fondo al tamaño del contenedor */
    height: 100vh;  /* Ajusta la altura del contenedor al 100% del alto de la pantalla */
    display: flex;  /* Ajusta el contenido del contenedor al centro */
    align-items: center; /* Ajusta el contenido del contenedor al centro */
    justify-content: center; /* Ajusta el contenido del contenedor al centro */
    text-align: center; /* Ajusta el contenido del contenedor al centro */
}

.imagen-fondo h1 {
    color: #0367A6 !important; /* Cambia el color del texto */
    font-size: 7.5rem; /* Ajusta el tamaño de fuente */
    font-family: 'Open Sans', sans-serif;
}

/* ------------------ IMG FONDO Y FRASE PRINCIPLA ---------------------------*/
/* ----------------------------------------- FIN HEADER ------------------------------------------- */

/* ----------------------------------------- FRASE ------------------------------------------- */
.contenedor-frase {
    width: 100%; /* Ajusta el ancho del contenedor al 100% */
    text-align: center; /* Ajusta el contenido del contenedor al centro */
    padding: 70px;  /* Ajusta el espacio alrededor del contenido del contenedor */
    background: linear-gradient(to bottom, #f2ede4, #FFFFFF);   /* Agrega un degradado de color de arriba hacia abajo */
}

.contenedor-frase h2 {
    color: #939393; /* Color del texto */
    font-size: 3.2rem; /* Ajusta el tamaño de fuente */
    font-weight:bold; /* Ajusta el grosor de la fuente */
}

.contenedor-frase .color-especial {
    color: #0367A6 !important; /* Cambia el color del texto */
}
/* ----------------------------------------- FRASE ------------------------------------------- */

/* ----------------------------------------- FILOSOFIA ------------------------------------------- */
.contenedor-filosofia {
    width: 100%; /* Ajusta el ancho del contenedor al 100% */
    text-align: center; /* Ajusta el contenido del contenedor al centro */
    padding: 70px;  /* Ajusta el espacio alrededor del contenido del contenedor */
}

.contenedor-filosofia h2 {
    color: #FF0000; /* Color del texto */
    font-size: 3.2rem; /* Ajusta el tamaño de fuente */
    font-weight:bold; /* Ajusta el grosor de la fuente */
}

.contenedor-filosofia p {
    color: #000000; /* Color del texto para las frases */
    font-size: 1.2rem; /* Tamaño de fuente para las frases */
    line-height: 1.6; /* Espaciado entre líneas */
}

.contenedor-filosofia strong {
    font-weight: bold; /* Aplicar negrita a "en equipo" */
}

/* ----------------------------------------- FILOSOFIA ------------------------------------------- */

/* ----------------------------------------- TARJETAS ------------------------------------------- */
.contenedor-tarjetas {
    display: flex;
    justify-content: space-around;
}

.tarjeta {
    text-align: center;
    padding: 20px;
    width: 20%;
    margin: 10px;
}

.icono {
    font-size: 36px;
    margin-bottom: 10px;
}

.icono-rojo {
    color: #FF0000; /* Color rojo para los íconos */
}

.tarjeta h3 {
    font-weight: bold;
    font-size: 1.7rem;
    margin-top: 20px;
    color: #000000; /* Color del texto para las frases */
}

.tarjeta p {
    font-size: 1rem;
    margin-top: 5px;
    color: #000000; /* Color del texto para las frases */
}

/* ----------------------------------------- TARJETAS ------------------------------------------- */

/* ----------------------------------------- BOTÓN ------------------------------------------- */
.contenedor-boton {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

.boton-conocer {
    background-color: #d6dcdc; /* Color gris */
    color: #000000;
    padding: 15px 25px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, cursor 0.3s;
}

.boton-conocer:hover {
    background-color: #7a64ff; /* Color violeta */
    cursor: pointer;
}

/* ----------------------------------------- BOTÓN ------------------------------------------- */

/* ----------------------------------------- NUESTROS SERVICIOS ------------------------------------------- */
.contenedor-servicios {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo-servicios {
    text-align: center; /* Alinea el texto al centro */
    font-size: 3rem; /* Tamaño de fuente más grande */
    padding: 20px;
}

.gris {
    color: #939393; /* Color gris para "nuestros" */
}

.titulo-servicios .azul {
    color: #0367A6; /* Color azul para "servicios" */
}


.tarjeta-s {
    display: flex;
    width: 88%;
    padding: 20px;
    margin: 10px;
    /* Color gris para las tarjetas grises */
    color: #000000;
    border-radius: 15px;
    transition: background-color 0.3s;
    height: auto;
}

.tarjeta-s.gris {
    background: #fff; /* Color gris para las tarjetas grises */
    color: #999797; /* Color de texto para las tarjetas grises */
}

.tarjeta-s.azul {
    background: #0367A6; /* Color azul para las tarjetas azules */
    color: #fff; /* Color de texto para las tarjetas azules */
}

/* Estilo específico para el texto dentro de tarjetas azules */
.tarjeta-s.azul p {
    color: #fff; /* Color de texto blanco para los párrafos dentro de tarjetas azules */
}

/* Estilo específico para el texto dentro de tarjetas grises */
.tarjeta-s.gris p {
    color: #3f3e3e; /* Color de texto gris para los párrafos dentro de tarjetas grises */
}

.titulo-tarjetas {
    width: 55%;
}

/* Configura el título y el párrafo para ocupar el 40% del ancho cada uno */
.tarjeta-s h2 {
    font-size: 1.4rem;
    text-align: left;
    width: 70%;
    font-size: 50px;
    padding: 40px;
}

.tarjeta-s p {
    width: 70%;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.4;
    color: #1b1a1a; /* Color del texto para las frases */
    padding-left: 40px;
    padding-bottom: 40px;
}

/* Configura la imagen para ocupar el 30% del ancho disponible */
.tarjeta-s img {
    margin-left: 7%;
    max-width: 30%;
    padding: 20px;
}

.tarjetas-servicios {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    background-image: url('./img/img-tarjetas1.gif');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}

.tarjeta.hoja-azul {
    background: #0367A6;
    /* Color azul para las tarjetas azules */
}

.sticky {
    position: sticky;
    /* Tarjeta 1 se queda fija */
    top: 0;
    /* La posición en la que se quedará fija */
}

/* Agrega un margen superior para separar las tarjetas */
.tarjeta-s:not(.sticky) {
    margin-top: 20px;
    /* Ajusta el valor según tu preferencia */
}

/* ----------------------------------------- NUESTROS SERVICIOS ------------------------------------------- */

/* ----------------------------------------- NUESTROS PORTFOLIO ------------------------------------------- */
.contenedor-portfolio {
    width: 100%;
}

.titulo-portfolio {
    margin-top: 40px;
    text-align: center;
    font-size: 3rem; /* Tamaño de fuente más grande */
    padding: 20px;
    
}

.titulo-portfolio  .azul {
    color: #0367A6;
    /* Color gris para "nuestros" */
}

.gris {
    color: #939393;
    /* Color azul para "servicios" */
}

.tarjeta { 
    margin-right: 20px; /* Ajusta según sea necesario */
    margin-bottom: 20px; /* Ajusta según sea necesario */
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    width: 22%;
    cursor: pointer;
    overflow: hidden;
    position: relative; 
    padding: 5px;
    margin: 0;
}

.tarjeta.hidden {
    opacity: 0;
    position: absolute;
}


.botones-navegador-portfolio {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.botones-navegador-portfolio button {
    padding: 8px 16px;
    margin: 50px;
    margin-bottom: 30px;
    border-radius: 3px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3rem;
    background-color: #0975b8;
    color: #ffffff;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border: none;

}

.botones-navegador-portfolio button:hover {
    background-color: #004080; /* Cambié el color de fondo al pasar el mouse */
    color: #ffffff;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

/* Estilo base para las tarjetas */
.tarjetas-portfolio {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.imagen-portfolio {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.imagen-portfolio img {
    max-width: 100%;
    height: 100%;
    transition: transform 0.5s;
    display: block;
    
}

.descripcion {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
    height: 100%; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 0, 0, 0.7); /* Color rojo con opacidad */
    padding: 40px;
    color: #fff;
    opacity: 0; /* Inicialmente invisible */
    transition: opacity 0.5s;
}

.descripcion h4 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    margin-top: 80%;
    font-family: 'Open Sans', sans-serif;
}

.descripcion span {
    font-family: 'Open Sans', sans-serif;
}

/* Mostrar la descripción en el paso del cursor */
.tarjeta:hover .descripcion{
      opacity: 1;
}

.imagen-clientes {
    display: flex;
    justify-content: center;
    
}

.imagen-clientes img {
    max-width: 75%;
    height: 75%;
}

/* ----------------------------------------- NUESTROS PORTFOLIO ------------------------------------------- */

/* ----------------------------------------- CARRUSEL ------------------------------------------- */

/* Asegúrate de que el contenedor tenga un tamaño relativo */
.swiffy-slider {
    width: 100%;
    height: 320px;
    overflow: hidden;
    margin-bottom: 5%;
    margin-top: 7%;
}

/* Ajusta el tamaño de las imágenes al tamaño del contenedor */
.slider-container {
    height: 320px;
    background: white;
    display: flex;
    list-style: none;
    overflow: hidden;
}

.slider-container li {
    flex: 0 0 15%; /* Hace que cada imagen ocupe el 100% del ancho del contenedor */
}

.slider-container video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta la imagen al contenedor manteniendo la proporción */
    border-radius: 15px;
    cursor: pointer;
    transition: transform 0.3s ease; 
}

.slider-container video::-webkit-media-controls {
    display: none;
}

.slider-container video:hover {
    transform: scale(1.1); /* Hace que la imagen parezca hacer un zoom al 110% */
}

.slider-item {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
}

.content-lightbox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to bottom, #FFFFFF, #0367A6);   /* Agrega un degradado de color de arriba hacia abajo */
    padding: 50px;
    border-radius: 8px;
    text-align: center;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

#lightbox-media video {
    width: 100%;
    height: 80vh;
    border-radius: 8px;
}
/* ----------------------------------------- CARRUSEL ------------------------------------------- */

/* ----------------------------------------- TARJETAS CREADORES ------------------------------------------- */

.contenedor-creadores {
    display: flex;
    justify-content: space-around;
    background: linear-gradient(to center, #e4ddcf, #FFFFFF);   /* Agrega un degradado de color de arriba hacia abajo */
}

.tarjeta-creador {
    width: 20%;
    text-align: center;
    margin: 20px;
}

.imagen-creador {
    position: relative;
    width: 100%; /* Ajusta según tus necesidades */
    height: 150px; /* Ajusta según tus necesidades */
    padding: 5px;
}

.imagen-creador img {
    max-width: 100%;
    height: auto;
    object-fit: cover; /* Esto ajusta la imagen manteniendo las proporciones */
    position: absolute;
    top: 50%;
    left: 48%;
    transform: translate(-50%, -50%);
}

.imagen-creador i {
    font-size: 34px;
    color: #e91010;
    position: absolute;
    top: 0;
    right: 0;
}

.nombre-creador {
    color: #0367A6;
}

.nombre-creador h3 {
    font-size: 1.4rem;
    margin: 15px 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.estrellas {
    margin-top: 10px; /* Ajusta el margen superior según tus necesidades */
    margin-bottom: 10px; /* Ajusta el margen inferior según tus necesidades */
}

.estrella-dorada {
    color: #f2b01e; /* Establece el color dorado */
    margin-right: 5px; /* Ajusta el margen derecho según tus necesidades */
}

.nombre-creador p {
    color: #181818;
    margin: 5px 0;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

/* ----------------------------------------- TARJETAS RESEÑAS ------------------------------------------- */
/* ----------------------------------------- WHATSAPP ------------------------------------------- */
.whatsapp-body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
}

.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 3%;
    background-color: #25d366;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.whatsapp-button img {
    max-width: 50px;
    height: 50px;
}

/* ----------------------------------------- WHATSAPP ------------------------------------------- */

/* ----------------------------------------- FOOTER ------------------------------------------- */
.contenedor-footer {
    width: 100%;
    padding: 10px;
    background-image: url('./img/iniciofinal1.gif');
    background-size: 120%;
}

.footer-contenido {
    width: 15%;
    margin-left: 120px;
}

footer{
    display: flex;
    align-items: center;
}

.footer-logo img {
    width: 100%; /* Ajusta el tamaño según tus necesidades */
}

.footer-redes-sociales ul {
    list-style: none;
    padding: 0;
    margin-top: 185px;
    margin-left: -50px;
    display: flex;
    flex-direction: row;
}

.footer-redes-sociales li {
    margin: 0 5px;
}

.footer-redes-sociales li a {
    text-decoration: none;
    color: #000;
}

.footer-redes-sociales li.facebook a i {
    font-size: 24px;
    color: #0367A6; /* Color azul para Facebook */
}

.footer-redes-sociales li.instagram a i {
    font-size: 24px;
    color: #E4405F; /* Color rojo para Instagram */
}
/* ----------------------------- nav footer ------------------------------ */
.nav-footer{
    margin: 0 auto;
    padding: 0;
    margin-left: 100px;
    
}

.ul-footer {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.li-footer{
    display: block;
    margin: 10px 5px;
}

.ul-sublista-footer {
    display: none;
    position: absolute;
    background-color:  #0367A6 ; /* Color de fondo de la sublista */
    z-index: 1; /* Para que esté por encima de otros elementos */
    margin: 0;
    padding: 7px;
    border-radius: 7px;
}

/* Estilo para los enlaces de la sublista */
.a-footer {
    color:  #0367a6; /* Cambia el color de texto de la sublista */
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 1.3rem;
}

.a-footer:hover {
    color: #ef0a0a; /* Cambia el color del texto en estado de hover */
}
/* Estilo para los elementos de la sublista */
.li-sublistaf {
    margin: 5px 0px;
    padding: 5px 20px;
    flex: 1; /* Distribuye el espacio de manera igual entre los elementos */
    text-align: center; /* Alinea el texto en el centro de cada elemento */
}

/* Mostrar la sublista cuando se pasa el puntero sobre "Soluciones" */
.li-footer:hover .ul-sublista-footer {
    display: block;
    list-style: none;
    border-radius: 7px;
}

.ul-sublista-footer {
    margin-left: -30px;
}

.a-sublistaf {
    color: rgb(255, 255, 255); /* Cambia el color del texto en estado de hover */
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    
}

.a-sublistaf:hover {
    color: #ef0a0a; /* Cambia el color del texto en estado de hover */
}

.footer-consulta {
    width: 50%;
    padding: 20px;
    color: #0367a6;
   
}

.consulta-titulo {
    font-size: 1.5em;
    margin-bottom: 15px;
}

#formulario {
    display: flex;
    flex-direction: column;
}

.campo {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

.campo label {
    margin-bottom: 5px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.campo input,
.campo textarea {
    width: 100%;
    padding: 8px;
}

#formulario input[type="submit"] {
    background-color: #0367A6;
    color: #fff;
    cursor: pointer;
    width: 30%;
    padding: 8px 10px;
    margin-top: 5px;
    font-family: 'Open Sans', sans-serif;
    transition: background-color 0.3s, color 0.3s;
    font-weight: bold;
    border-radius: 5px;
    border: none;
}

#formulario input[type="submit"]:hover {
    background-color: #004080; /* Cambié el color de fondo al pasar el mouse */
    color: #ffffff;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.footerhr {
    width: 100%; /* Puedes ajustar el valor según tus necesidades */   
    border: 1.5px solid #0367A6;
}

.footerhvertical {
    height: 400px; /* Ajusta la altura según tus necesidades */
    border: 1.5px solid #0367A6;
    margin: 0 60px;
}

/* ----------------------------------------- FOOTER ------------------------------------------- */

/* ----------------------------------------- MEDIA QUERIES ------------------------------------------- */
@media screen and (max-width: 442px) {

    .contenedor {
        padding-left: 0; /* Elimina el espacio izquierdo del contenedor */
        padding-right: 0; /* Elimina el espacio derecho del contenedor */
        width: 100%; /* Ajusta el ancho del contenedor al 100% */
    }
    /* Estilos para pantallas más pequeñas, como celulares */
     /* Ajustes para el encabezado */
     header {
        flex-direction: column; /* Cambia la dirección del flexbox a columna */
        position: static; /* Elimina la posición fija en pantallas más pequeñas */
    }

    .nav-header {
        width: 100%; /* Ocupa el 100% del ancho en pantallas más pequeñas */
        margin: 10px 0; /* Agrega margen superior e inferior */
    }

    .logo-header {
        margin-left: 0; /* Elimina el margen izquierdo para el logo */
    }

    .ul-header {
        border-radius: 0; /* Elimina el borde redondeado en pantallas más pequeñas */
    }

    .li-header {
        padding: 10px; /* Ajusta el espacio en cada elemento del menú */
        text-align: left; /* Alinea el texto a la izquierda */
        margin: 0; /* Elimina el margen horizontal */
    }

    .a-header {
        font-size: 14px; /* Ajusta el tamaño de la fuente */
    }

    /* Ajustes para la sublista desplegable */
    .ul-sublista {
        width: 100%; /* Ocupa el 100% del ancho en pantallas más pequeñas */
        top: 100%; /* Posiciona la sublista debajo del elemento padre */
        left: 0; /* Alinea la sublista a la izquierda */
    }

    .li-sublista {
        padding: 10px; /* Ajusta el espacio en cada elemento de la sublista */
    }

    .a-sublista {
        font-size: 14px; /* Ajusta el tamaño de la fuente */
    }

    /*------------------- Ajustes para la imagen de fondo y frase principal ---------------------*/
    .imagen-fondo {
        margin-top: -250px;
        background-repeat: no-repeat; /* Evita que la imagen se repita */
        background-size: cover;
        height: 30vh;
        background-size: 100% 100%;
    }
    .imagen-fondo h1 {
        font-size: 1.7rem; /* Ajusta el tamaño de la fuente */
    }

    /* ---------------------- Ajustes para el contenedor de la frase ---------------------------*/
    .contenedor-frase {
        padding: 30px; /* Ajusta el espacio alrededor del contenido del contenedor */
    }

    .contenedor-frase h2 {
        font-size: 1rem; /* Ajusta el tamaño de fuente */
    }

     /* ----------------------- Ajustes para el contenedor de filosofía -------------------*/
     .contenedor-filosofia {
        padding: 30px; /* Ajusta el espacio alrededor del contenido del contenedor */
    }

    .contenedor-filosofia h2 {
        font-size: 2rem; /* Ajusta el tamaño de fuente */
    }

    .contenedor-filosofia p {
        font-size: .9rem; /* Tamaño de fuente para las frases */
    }

    .contenedor-tarjetas {
        flex-direction: column; /* Cambia la dirección del contenedor a columna en pantallas más pequeñas */
        align-items: center; /* Centra los elementos en el eje transversal */
        width: 100%; /* Ocupa el 100% del ancho en pantallas más pequeñas */
        padding: 20px;
    }

    .tarjeta h3{
        font-size: 1.1rem;
    }
    .tarjeta p{
        font-size: .9rem;
    }
    /*---------------------- Ajustes para el contenedor de servicios ------------------------*/
    .contenedor-servicios {
        padding: 20px; /* Ajusta el espacio alrededor del contenido del contenedor */
        max-width: 100%; /* Ocupa el 100% del ancho en pantallas más pequeñas */
    }

    .titulo-servicios {
        font-size: 2rem; /* Tamaño de fuente más pequeño */
    }

    .tarjeta-s {
        width: 100%; /* Ocupa el 100% del ancho en pantallas más pequeñas */
    }

    .tarjeta-s img {
        margin-left: 0; /* Elimina el margen izquierdo para la imagen */
        max-width: 100%; /* Ajusta la imagen al 100% del ancho disponible */
    }

    .titulo-tarjetas {
        width: 50%; /* Ocupa el 100% del ancho en pantallas más pequeñas */
    }

    /* -------------------Config el título y el párrafo ---------------------*/
    .tarjeta-s h2 {
        width: 100%;
        font-size: 1.1rem; /* Tamaño de fuente más pequeño */
        margin-left: -40px;
        margin-top: -30px;
    }

    .tarjeta-s p {
        width: 100%;
        font-size: .6rem; /* Tamaño de fuente más pequeño */
        padding-left: 0; /* Elimina el espacio izquierdo del párrafo */
        padding-bottom: 20px; /* Ajusta el espacio inferior del párrafo */
        margin-top: -30px;
    }

    /*--------------------- Ajustes para la imagen de fondo de las tarjetas ---------------------*/
    .tarjetas-servicios {
        background-image: none; /* Elimina la imagen de fondo en pantallas más pequeñas */
        max-width: 100%; /* Ocupa el 100% del ancho en pantallas más pequeñas */
    }

    .tarjetas-servicios img{
        max-width: 50%; /* Ajusta la imagen al 100% del ancho disponible */
    }

     /*--------------- Ajustes para el contenedor de portfolio --------------*/
     .contenedor-portfolio {
        padding: 20px; /* Ajusta el espacio alrededor del contenido del contenedor */
    }

    .titulo-portfolio {
        font-size: 2rem; /* Tamaño de fuente más pequeño */
    }

    /*------------ Ajustes para las tarjetas de portfolio -----------*/
    .tarjeta {
        width: 100%; /* Ocupa el 100% del ancho en pantallas más pequeñas */
        margin-right: 0; /* Elimina el margen derecho en pantallas más pequeñas */
        margin-bottom: 20px; /* Ajusta según sea necesario */
    }

    /*----------- Ajustes para los botones de navegación --------*/
    .botones-navegador-portfolio button {
        max-width: 100%; /* Ocupa el 100% del ancho en pantallas más pequeñas */
        margin: 10px;
    }

    #btn-todas,
    #btn-analisis-de-datos,
    #btn-fotografia-360,
    #btn-business-manager,
    #btn-redes-sociales {
        font-size: 0.5rem; /* Tamaño de fuente más pequeño */
    }

    /*--------- Ajustes para las imágenes de portfolio -------------*/

    .imagen-portfolio img {
        max-width: 100%; /* Ajusta la imagen al 100% del ancho disponible */
    }

    /*------------- Ajustes para la descripción de portfolio ----------------*/
    .descripcion {
        padding: 20px; /* Ajusta el espacio alrededor del contenido de la descripción */
    }

    .swiffy-slider {
        height: 200px; /* Ajusta la altura del contenedor del carrusel */
        margin-bottom: 3%; /* Ajusta el margen inferior del carrusel */
        margin-top: 5%; /* Ajusta el margen superior del carrusel */
    }

    .slider-container {
        height: 200px; /* Ajusta la altura del contenedor de las imágenes */
    }

    .slider-container li {
        flex: 0 0 100%; /* Hace que cada imagen ocupe el 100% del ancho del contenedor */
        margin-right: 0; /* Elimina el margen derecho entre las imágenes */
    }

    .slider-container video {
        border-radius: 8px; /* Ajusta el radio de la esquina de los videos */
        transition: transform 0.3s ease; /* Ajusta la transición al hacer hover en el video */
    }

    .content-lightbox {
        padding: 20px; /* Ajusta el espacio alrededor del contenido del lightbox */
    }

    #lightbox-media video {
        height: 60vh; /* Ajusta la altura de los videos en el lightbox */
    }

    .contenedor-creadores {
        flex-direction: column; /* Cambia la dirección del contenedor a columna en pantallas más pequeñas */
        align-items: center; /* Centra los elementos en el eje transversal */
    }

    .tarjeta-creador {
        width: 80%; /* Ocupa el 80% del ancho en pantallas más pequeñas */
        margin: 20px auto; /* Centra las tarjetas */
    }

    .imagen-creador {
        height: 120px; /* Ajusta la altura de la imagen en pantallas más pequeñas */
    }

    .imagen-creador i {
        color: #939393;
    }

    .imagen-creador img {
        max-width: 70%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .nombre-creador h3 {
        font-size: 1.2rem; /* Ajusta el tamaño de la fuente del nombre del creador */
        margin: 10px 0; /* Ajusta el margen del nombre del creador */
    }

    .estrellas {
        margin-top: 5px; /* Ajusta el margen superior de las estrellas */
        margin-bottom: 5px; /* Ajusta el margen inferior de las estrellas */
    }

    .nombre-creador p {
        font-size: 0.9rem; /* Ajusta el tamaño de la fuente del párrafo del creador */
        margin: 5px 0; /* Ajusta el margen del párrafo del creador */
    }

    .swiffy-slider {
        margin-left: 25px;
        max-width: 90%;
        margin-bottom: 3%; /* Ajusta el margen inferior del carrusel */
        margin-top: 5%; /* Ajusta el margen superior del carrusel */
    }

    .whatsapp-button {
        bottom: 10px; /* Ajusta la posición inferior del botón */
        right: 10px; /* Ajusta la posición derecha del botón */
        padding: 8px; /* Ajusta el relleno del botón */
    }

    .whatsapp-button img {
        max-width: 40px; /* Ajusta el ancho máximo de la imagen del botón */
        height: 40px; /* Ajusta la altura de la imagen del botón */
    }

    .contenedor-footer {
        background-image: none; /* Elimina la imagen de fondo en pantallas más pequeñas */
        padding: 20px; /* Ajusta el relleno del contenedor en pantallas más pequeñas */
    }

    .footer-contenido {
        width: 100%; /* Ocupa el 100% del ancho en pantallas más pequeñas */
        margin-left: 0; /* Elimina el margen izquierdo en pantallas más pequeñas */
    }

    .footer-texto {
        text-align: center  ;
    }

    .footer-logo  {
        width: 100%; /* Ajusta el ancho de la imagen del logo */
        text-align: center;
    }

    .footer-logo img {
        width: 50%; /* Ajusta el ancho de la imagen del logo */
    }

    footer {
        flex-direction: column; /* Cambia la dirección del footer a columna en pantallas más pequeñas */
        align-items: center; /* Centra los elementos en el eje transversal */
    }

    .footer-redes-sociales ul {
        margin-top: 20px; /* Ajusta el margen superior en pantallas más pequeñas */
        margin-left: 0; /* Elimina el margen izquierdo en pantallas más pequeñas */
        justify-content: center; /* Centra los elementos en el eje principal */
        flex-direction: row; /* Cambia la dirección de la lista a fila en pantallas más pequeñas */
    }

    .footerhr, .footerhvertical{
        display: none;
    }

    .nav-footer {
        margin-left: 0; /* Elimina el margen izquierdo en pantallas más pequeñas */
        text-align: center; /* Centra el texto en pantallas más pequeñas */
        display: flex;
        flex-direction: row;
    }
    
    .ul-footer {
        display: none;
        max-width: 100%; /* Ocupa el 100% del ancho en pantallas más pequeñas */
        flex-direction: row; /* Cambia la dirección de la lista a fila en pantallas más pequeñas */
        justify-content: center; /* Centra los elementos en el eje principal */
        font-size: .4rem;
    }

    .ul-sublista-footer {
        margin-left: 0; /* Elimina el margen izquierdo en pantallas más pequeñas */
    }

    .footer-consulta {
        width: 100%; /* Ocupa el 100% del ancho en pantallas más pequeñas */
        text-align: center; /* Centra el texto en pantallas más pequeñas */
    }

    #formulario input[type="submit"] {
        width: 100%; /* Ocupa el 100% del ancho en pantallas más pequeñas */
    }
  }
