/* ----------------------------------------- GENERAL ------------------------------------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif; /* Tipo de fuente */
}

/* ----------------------------------------- HEADER ------------------------------------------- */
.contenedor{
    padding-left:2px; /* Espacio alrededor del contenido del contenedor */
    padding-right: 2px; /* Espacio alrededor del contenido del contenedor */
}
.contenedor-recarga {
    padding-top: 270px;
    padding-bottom: 70px;
}


.contenedor-header {
    position: relative; /* Posición relativa para que el encabezado se pueda superponer a la imagen de fondo */
}

header {
    display: flex; /* Para que los elementos del encabezado se muestren en línea */
    justify-content: space-between; /* Para alinear elementos en el centro */
    align-items: center; /* Para alinear elementos en el centro */
    position: fixed; /* Fija el encabezado en la parte superior de la página */
    padding: 10px; /* Espacio alrededor del encabezado */
    width: 100%; /* Ajusta el ancho del encabezado al 100% */
    background-color: rgba(255, 255, 255, 0.7); /* Fondo semi-transparente para el encabezado */
    z-index: 1; /* Para que el encabezado esté por encima de la imagen de fondo */
}

.logo {
    margin-left: 4%; /*Margen izquierdo para el logo*/
}

.nav-header {
    width: 45%;
    margin-right:5%; /* Margen derecho para el menú */
}

.ul-header {
    list-style: none;
    display: flex;
    justify-content: space-between; /* Distribuye los elementos uniformemente */
    padding: 0;
    margin: 0;
}

.li-header {
    flex: 1; /* Distribuye el espacio de manera igual entre los elementos */
    text-align: center; /* Alinea el texto en el centro de cada elemento */
}

.a-header {
    display: block;
    padding: 5px 0px;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 550;
    transition: inherit;
    white-space: nowrap;
}

.a-header:hover {
    color: rgb(236, 232, 223);
}

/* ----------------------- Estilo base para la lista desplegable (inicialmente oculta) ------------------------ */
.ul-sublista {
    display: none;
    position: absolute;
    background-color:  #0367A6 ; /* Color de fondo de la sublista */
    z-index: -1; /* Para que esté por encima de otros elementos */
    margin: 0;
    padding: 10px 20px;
}

/* Estilo para los elementos de la sublista */
.li-sublista {
    margin: 0;
    padding: 10px 20px;
}

/* Estilo para los enlaces de la sublista */
.a-sublista {
    font-weight: 550;
    color:  #FFFFFF; /* Cambia el color de texto de la sublista */
}

/* Mostrar la sublista cuando se pasa el puntero sobre "Soluciones" */
.ul-sublista:hover  {
    display: block;
}

/* ----------------------------------------- fin lista desplegable ------------------------------------------- */

.ul-header {
    list-style: none; /* Quita las viñetas de la lista */
    display: flex; /* Para que los elementos de la lista se muestren en línea */
    justify-content: center; /* Para alinear elementos en el centro */
    background-color: rgb(235, 96, 99); /* Color de fondo del menú */
    border-bottom-left-radius: 15px; /* Borde redondeado izquierdo */
    border-top-left-radius: 15px; /* Borde redondeado derecho */
    border-bottom-right-radius: 15px; /* Borde redondeado derecho */
    border-top-right-radius: 15px; /* Borde redondeado derecho */

}

.li-header {
    margin: 0 5px; /* Margen horizontal entre elementos del menú */
    padding: 10px 20px; /* Espacio alrededor del texto del enlace */
}
.a-header{
    display: block; /* Convierte el enlace en un elemento de bloque */
    color: #FFFFFF; /* Color del texto */
    font-size: 15px; /* Tamaño de la fuente */
    text-decoration: none; /* Quita la decoración de texto (subrayado) */
    transition: inherit; /* Agrega una transición para suavizar el cambio de color */
    white-space: nowrap; /* Evita que el texto se desborde */
}

.a-header:hover {
    color: rgb(236, 232, 223); /* Cambia el color del texto en estado de hover */
}

/* ------------------ IMG FONDO Y FRASE PRINCIPLA ---------------------------*/

.imagen-fondo {
    background-image: url('./img/15caa100-2ca3-45bb-966f-9a866e450934.gif');  /* Imagen de fondo header */
    background-size: cover; /* Ajusta la imagen de fondo al tamaño del contenedor */
    height: 100vh;  /* Ajusta la altura del contenedor al 100% del alto de la pantalla */
    display: flex;  /* Ajusta el contenido del contenedor al centro */
    align-items: center; /* Ajusta el contenido del contenedor al centro */
    justify-content: center; /* Ajusta el contenido del contenedor al centro */
    text-align: center; /* Ajusta el contenido del contenedor al centro */
}

.imagen-fondo h1 {
    margin-top: 8%;
    color: #0367A6 !important; /* Cambia el color del texto */
    font-size: 7.5rem; /* Ajusta el tamaño de fuente */
}

/* ------------------ IMG FONDO Y FRASE PRINCIPLA ---------------------------*/

/* ----------------------------------------- HEADER ------------------------------------------- */

/* ----------------------------------------- FRASE ------------------------------------------- */
.contenedor-frase {
    width: 100%; /* Ajusta el ancho del contenedor al 100% */
    text-align: center; /* Ajusta el contenido del contenedor al centro */
    padding: 70px;  /* Ajusta el espacio alrededor del contenido del contenedor */
    background: linear-gradient(to bottom, #f2ede4, #FFFFFF);   /* Agrega un degradado de color de arriba hacia abajo */
}

.contenedor-frase h2 {
    color: #939393; /* Color del texto */
    font-size: 3.2rem; /* Ajusta el tamaño de fuente */
    font-weight: 500; /* Ajusta el grosor de la fuente */
}

.contenedor-frase .color-especial {
    color: #0367A6 !important; /* Cambia el color del texto */
}
/* ----------------------------------------- FRASE ------------------------------------------- */

/* ----------------------------------------- FILOSOFIA ------------------------------------------- */
.contenedor-filosofia {
    width: 100%; /* Ajusta el ancho del contenedor al 100% */
    text-align: center; /* Ajusta el contenido del contenedor al centro */
    padding: 70px;  /* Ajusta el espacio alrededor del contenido del contenedor */
}

.contenedor-filosofia h2 {
    color: #FF0000; /* Color del texto */
    font-size: 3.2rem; /* Ajusta el tamaño de fuente */
    font-weight:bold; /* Ajusta el grosor de la fuente */
}

.contenedor-filosofia p {
    color: #000000; /* Color del texto para las frases */
    font-size: 1rem; /* Tamaño de fuente para las frases */
    line-height: 1.6; /* Espaciado entre líneas */
}

.contenedor-filosofia strong {
    font-weight: bold; /* Aplicar negrita a "en equipo" */
}

/* ----------------------------------------- FILOSOFIA ------------------------------------------- */

/* ----------------------------------------- TARJETAS ------------------------------------------- */
.contenedor-tarjetas {
    display: flex;
    justify-content: space-around;
}

.tarjeta {
    text-align: center;
    padding: 20px;
    width: 20%;
    margin: 10px;
}

.icono {
    font-size: 36px;
    margin-bottom: 10px;
}

.icono-rojo {
    color: #FF0000; /* Color rojo para los íconos */
}

.tarjeta h3 {
    font-weight: bold;
    font-size: 1.6rem;
    margin-top: 20px;
    color: #4d4545; /* Color del texto para las frases */
}

.tarjeta p {
    font-size: 1.2rem;
    margin-top: 5px;
    color: #5c5b5b; /* Color del texto para las frases */
}

/* ----------------------------------------- TARJETAS ------------------------------------------- */

/* ----------------------------------------- BOTÓN ------------------------------------------- */
.contenedor-boton {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

.boton-conocer {
    background-color: #d6dcdc; /* Color gris */
    color: #1b1a1a;
    padding: 15px 25px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, cursor 0.3s;
}

.boton-conocer:hover {
    background-color: #7a64ff; /* Color violeta */
    cursor: pointer;
}

/* ----------------------------------------- BOTÓN ------------------------------------------- */

/* ----------------------------------------- NUESTROS SERVICIOS ------------------------------------------- */
.contenedor-servicios {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo-servicios {
    text-align: center; /* Alinea el texto al centro */
    font-size: 3rem; /* Tamaño de fuente más grande */
    padding: 20px;
    
}

.gris {
    color: #939393; /* Color gris para "nuestros" */
}

.titulo-servicios .azul {
    color: #0367A6; /* Color azul para "servicios" */
}

/* Estilo para los otros títulos */
.tarjeta-s h2 {
    text-align: center;
    font-size: 1.4rem;
}

.tarjeta-s {
    display: flex;
    width: 90%;
    padding: 20px;
    margin: 10px;
    /* Color gris para las tarjetas grises */
    color: #000000;
    border-radius: 15px;
    transition: background-color 0.3s;
}

.tarjeta-s.gris {
    background: #fff; /* Color gris para las tarjetas grises */
    color: #3C3C3C; /* Color de texto para las tarjetas grises */
}

.tarjeta-s.azul {
    background: #0367A6; /* Color azul para las tarjetas azules */
    color: #fff; /* Color de texto para las tarjetas azules */
}

.titulo-tarjetas {
    width: 48%;
}

/* Configura el título y el párrafo para ocupar el 40% del ancho cada uno */
.tarjeta-s h2 {
    text-align: left;
    width: 70%;
    font-size: 50px;
    padding: 50px;

}

.tarjeta-s p {
    width: 70%;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.4;
    color: #1b1a1a; /* Color del texto para las frases */
    margin-left: 50px;
    

}

/* Configura la imagen para ocupar el 60% del ancho disponible */
.tarjeta-s img {
    width: 50%;
}

.tarjetas-servicios {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    background-image: url('./img/img-tarjetas.gif');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.tarjeta.hoja-azul {
    background: #0367A6;
    /* Color azul para las tarjetas azules */
}

.sticky {
    position: sticky;
    /* Tarjeta 1 se queda fija */
    top: 0;
    /* La posición en la que se quedará fija */
}

/* Agrega un margen superior para separar las tarjetas */
.tarjeta-s:not(.sticky) {
    margin-top: 20px;
    /* Ajusta el valor según tu preferencia */
}

/* ----------------------------------------- NUESTROS SERVICIOS ------------------------------------------- */

/* ----------------------------------------- NUESTROS PORTFOLIO ------------------------------------------- */
.contenedor-portfolio {
    width: 100%;
}

.titulo-portfolio {
    margin-top: 10px;
    text-align: center;
    font-size: 3rem; /* Tamaño de fuente más grande */
    padding: 20px;
    
}

.titulo-portfolio  .azul {
    color: #0367A6;
    /* Color gris para "nuestros" */
}

.titulo-portfolio .gris {
    color: #939393;
    /* Color azul para "servicios" */
}

/* Estilo base para las tarjetas */
.tarjetas-portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.tarjeta {
    cursor: pointer;
    overflow: hidden;
    position: relative; 
}

.imagen-portfolio {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}



.imagen-portfolio img {
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
    display: block;
    
}

.descripcion {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
    height: 100%; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 0, 0, 0.7); /* Color rojo con opacidad */
    padding: 40px;
    color: #fff;
    opacity: 0; /* Inicialmente invisible */
    transition: opacity 0.5s;
}

.descripcion h4 {
    font-size: 1rem;
    margin-bottom: 10px;
}

/* Mostrar la descripción en el paso del cursor */
.tarjeta:hover .descripcion{
      opacity: 1;
}

.imagen-clientes {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
    margin-top: -70px; /* Ajusta según tu preferencia */
}

.imagen-clientes img {
    width: 75%;
    height: 75%;
}

/* ----------------------------------------- NUESTROS PORTFOLIO ------------------------------------------- */

/* ----------------------------------------- CARRUSEL ------------------------------------------- */

/* Asegúrate de que el contenedor tenga un tamaño relativo */
.swiffy-slider {
    width: 100%;
    height: 320px;
    overflow: hidden;
    margin-bottom: 5%;
    margin-top: 7%;
}

/* Ajusta el tamaño de las imágenes al tamaño del contenedor */
.slider-container {
    height: 320px;
    background: white;
    display: flex;
    list-style: none;
    overflow: hidden;
}

.slider-container li {
    flex: 0 0 15%; /* Hace que cada imagen ocupe el 100% del ancho del contenedor */
}

.slider-container video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta la imagen al contenedor manteniendo la proporción */
    border-radius: 15px;
    cursor: pointer;
    transition: transform 0.3s ease; 
}

.slider-container video::-webkit-media-controls {
    display: none;
}

.slider-container video:hover {
    transform: scale(1.1); /* Hace que la imagen parezca hacer un zoom al 110% */
}

.slider-item {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
}

.content-lightbox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to bottom, #FFFFFF, #0367A6);   /* Agrega un degradado de color de arriba hacia abajo */
    padding: 50px;
    border-radius: 8px;
    text-align: center;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

#lightbox-media video {
    width: 100%;
    height: 80vh;
    border-radius: 8px;
}
/* ----------------------------------------- CARRUSEL ------------------------------------------- */

/* ----------------------------------------- TARJETAS CREADORES ------------------------------------------- */

.contenedor-creadores {
    display: flex;
    justify-content: space-around;
    background: linear-gradient(to center, #e4ddcf, #FFFFFF);   /* Agrega un degradado de color de arriba hacia abajo */
}

.tarjeta-creador {
    width: 20%;
    text-align: center;
    margin: 20px;
}

.imagen-creador {
    position: relative;
    width: 100%; /* Ajusta según tus necesidades */
    height: 150px; /* Ajusta según tus necesidades */
    padding: 5px;
}

.imagen-creador img {
    width: 200px;
    height: 100%;
    object-fit: cover; /* Esto ajusta la imagen manteniendo las proporciones */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.imagen-creador i {
    font-size: 36px;
    color: #e91010;
    position: absolute;
    top: 0;
    right: 0;
}


.nombre-creador {
    color: #0367A6;
}

.nombre-creador h3 {
    font-size: 1.4rem;
    margin: 15px 0;
}

.estrellas {
    margin-top: 10px; /* Ajusta el margen superior según tus necesidades */
    margin-bottom: 10px; /* Ajusta el margen inferior según tus necesidades */
}

.estrella-dorada {
    color: #f2b01e; /* Establece el color dorado */
    margin-right: 5px; /* Ajusta el margen derecho según tus necesidades */
}

.nombre-creador p {
    color: #161616;
    margin: 5px 0;
    font-size: 1rem;
}

/* ----------------------------------------- TARJETAS RESEÑAS ------------------------------------------- */
/* ----------------------------------------- WHATSAPP ------------------------------------------- */
.whatsapp-body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
}

.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 3%;
    background-color: #25d366;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.whatsapp-button img {
    width: 50px;
    height: 50px;
}

/* ----------------------------------------- WHATSAPP ------------------------------------------- */

/* ----------------------------------------- FOOTER ------------------------------------------- */
.contenedor-footer {
    padding: 20px;
    background-image: url('./img/15caa100-2ca3-45bb-966f-9a866e450934.gif');
}

.footer-contenido {
    width: 15%;
    display: flex;
    flex-direction: column;
}

.footer-logo img {
    width: 100%; /* Ajusta el tamaño según tus necesidades */
}

.footer-redes-sociales ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.footer-redes-sociales li {
    padding: 20px;
    
}

.footer-redes-sociales li a {
    text-decoration: none;
}

.footer-texto p {
    margin: 0; /* Elimina el margen del párrafo */
}

/* ----------------------------------------- FOOTER ------------------------------------------- */
