* {
    font-family: 'Open Sans', sans-serif;
}

.contenedor-ga {
    width: 100%;
    padding: 10px;
    background: linear-gradient(to top, #f1f1f1, #FFFFFF);   /* Agrega un degradado de color de arriba hacia abajo */
}

.contenedor-ga h1 {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 120px;
    text-align: center;
}

/* Estilos para las secciones */
.seccion-p,
.seccion-sp,
.seccion-ms,
.seccion-oc {
    display: flex;
    width: 100%;
    padding: 100px;
    overflow: hidden;
    background: linear-gradient(to bottom, #f0f0f0, #FFFFFF);   /* Agrega un degradado de color de arriba hacia abajo */
    padding-top: 20px;
    padding-left: 40px;
    padding-bottom: 30px;
    border-radius: 15px;
    position: sticky; /* Tarjeta 1 se queda fija */
    top: 0;
}

/* Estilos para las imágenes */
.seccion-p img {
    max-width: 50%;
    height: auto;
    margin-left: 100px;
}
.seccion-sp img {
    max-width: 50%;
    height: auto;
    margin-left: 100px;
}
.seccion-ms img {
    max-width: 50%;
    height: auto;
}

.seccion-oc img {
    float: right;
    width: 43%;
    margin-right: 30px;
}

/* Estilos para el texto */
.seccion-p h3,
.seccion-sp h3,
.seccion-ms h3,
.seccion-oc h3 {
    color: #333;
    margin-top: 50px;
    font-weight: bold;
    font-size: 2.8rem;
    padding-left: 10px;
}

.seccion-p p,
.seccion-sp p,
.seccion-ms p,
.seccion-oc p {
    color: #666;
    line-height: 1.6;
    font-size: 1.2rem;
    padding-left: 10px;
    font-weight: bold;
}

.seccion-p li,
.seccion-sp li,
.seccion-ms li,
.seccion-oc li {
    color: #666;
    line-height: 1.6;
    list-style: none;
    padding-left: 10px;
    font-size: 1.2rem;
}

/* Estilos para el diseño de dos columnas */
.texto-derecha {
    float: right;
    width: 50%;
}
.texto-izquierda {
    float: left;
    width: 50%;
}

.imgads {
    display: flex;
    width: 100%;
    margin-bottom: 30px;
}

#left-column {
    background-color: #0074e5; /* Celeste azulado */
    padding: 20px;
    width: 300px;
    height: 400px;
    transform: rotate(180deg);
}

#left-column h2 {
    transform: rotate(90deg);
    color: #FFFFFF;
    font-size: 4.8rem;
    font-weight: bold;
    padding: 50px;
}

#upper-right-title {
    text-align: right;
    padding: 20px;
    width: 20%;
    margin-right: 50px;
}

#duck-mouth {
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 20px solid #808080; /* Gris */
    display: inline-block;
    margin-right: 10px;
}

#google-text {
    font-weight: bold;
    display: inline-block;
    color: #808080; /* Gris */
    font-size: 24px;
    margin-right: 10px;
}

#ads-text {
    display: inline-block;
    color: #808080; /* Gris */
    font-size: 18px;
    margin-left: -7px;
}

#content-objetivos {
    flex-grow: 1;
    margin-top: 30px;
}

#content-objetivos p {
    margin-left: 110px;
    text-align: left;
    margin-top: 50px;
    font-weight: bold;
    font-size: 1.rem;
}

#content-objetivos ul {
    margin-top: 40px;
    margin-left: 110px;
    list-style: none;
}

#content-objetivos li {
    font-weight: bold;
    margin: 10px 0;
}

.color-circle {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 0 5px;
}

.gray { background-color: #808080; }
.red { background-color: #FF0000; }
.yellow { background-color: #ffb404; }
.green { background-color: #008000; }
.blue { background-color: #0000FF; }


@media (max-width: 768px) {
    .contenedor-ga {
        margin-top: -250px;
    }

    .contenedor-ga h1 {
        font-size: 3rem;
    }
    
    .seccion-p,
    .seccion-sp,
    .seccion-ms,
    .seccion-oc {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        text-align: center;
        padding: 0%;
        margin: 0%;
    }
    
    .seccion-p img,
    .seccion-sp img,
    .seccion-ms img,
    .seccion-oc img {
        max-width: 100%;
        height: auto;
        margin-left: 0;
    }

    .seccion-oc img {
        float: none;
        width: 100%;
        margin-right: 0;
    }
    
    .texto-derecha,
    .texto-izquierda {
        text-align: center;
    }

    .texto-derecha p,
    .texto-izquierda p {
        width: 100%;
        margin: 0 0 0 100px;
        padding: 0%;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .texto-derecha h3,
    .texto-izquierda h3 {
        width: 100%;
        font-size: 2rem;
        margin: 0 -45px 0 100px;
        padding: 0%;
        text-align: center;
        margin-top: 10px;
    }
    
    .imgads {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }
    
    #left-column h2 {
        font-size: 2.5rem;
        text-align: center;
        margin-top: 100px;
    }

    #left-column {
        background-color: #0074e5; /* Celeste azulado */
        width: 100%;
        height: 400px;
        transform: rotate(270deg);
    }
    
    #content-objetivos {
        text-align: center;
    }
    
    #content-objetivos p {
        margin-top: 10px;
        font-size: .9rem;
        margin-left: 0;
        padding: 5px;
        text-align: center;
    }
    
    #content-objetivos ul {
        list-style: none;
        padding: 10px;
        margin: 0;
    }
    
    #content-objetivos li {
        margin: 10px 0;
        text-align: center;
    }
    
    .color-circle {
        display: inline-block;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        margin-right: 5px;
    }
    
    #upper-right-title {
        display: none;
        text-align: center;
        margin-top: 10px;
    }
    
    #duck-mouth,
    #google-text,
    #ads-text {
        display: inline-block;
    }
    
    #duck-mouth {
        width: 15px;
        height: 10px;
        border-left: 7.5px solid transparent;
        border-right: 7.5px solid transparent;
        border-top: 5px solid #808080;
        margin-right: 5px;
    }
    
    #google-text,
    #ads-text {
        font-weight: bold;
        font-size: 1rem;
        color: #808080;
    }
    
    
}

