* {
    font-family: 'Open Sans', sans-serif;
}

.contenedor-gb {
    width: 100%;
}

.titulogb{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.titulogb h1{
    font-size: 4rem; /* Tamaño grande para el título */
    font-weight: bold; /* Puedes ajustar el peso de la fuente según tus preferencias */
}

.tarjetasGb {
    display: flex;
    flex-wrap: wrap;
}

.seccion-cp-pd {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 40px;
    background: linear-gradient(to bottom, #f0f0f0, #FFFFFF);   /* Agrega un degradado de color de arriba hacia abajo */
    border-radius: 15px;
    position: sticky; /* Tarjeta 1 se queda fija */
}

.img-cp{    
    width: 50%;
    height: auto;
    margin-left: 100px;
}

.seccion-c-gr {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 40px;
    background: linear-gradient(to bottom, #f0f0f0, #FFFFFF);   /* Agrega un degradado de color de arriba hacia abajo */
    border-radius: 15px;
    position: sticky; /* Tarjeta 1 se queda fija */
}

.img-c {
    width: 50%;
    height: auto;
    margin-left: 200px;
    margin-top: 0px;
}

.seccion-uo-em {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 40px;
    background: linear-gradient(to bottom, #f0f0f0, #FFFFFF);   /* Agrega un degradado de color de arriba hacia abajo */
    border-radius: 15px;
    position: sticky; /* Tarjeta 1 se queda fija */
}

.img-uo {
    width: 50%;
    height: auto;
    margin-left: 100px;
}

.seccion-op {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 40px;
    background: linear-gradient(to bottom, #f0f0f0, #FFFFFF);   /* Agrega un degradado de color de arriba hacia abajo */
    border-radius: 15px;
    position: sticky; /* Tarjeta 1 se queda fija */
}

.img-op {
    width: 50%;
    height: auto;
    margin-right: 100px;
}

.img-op img {
    margin-left: 150px;
}

.texto-d {
    width: 50%;
    padding: 10px;
    margin-top: -30px;
}

.texto-d h3 {
    color: #333;
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.texto-d p {
    color: #333;
    font-size: 1rem;
    margin-top: -15px;
    font-weight: bold;
    margin-bottom: -5px;
}

.texto-d li {
    color: #333;
    font-size: 1.2rem;
    list-style: none;
    font-weight: bold;
    margin-top: 5px;
}

@media (max-width: 768px) {
    /* Estilos para dispositivos con ancho máximo de 768px (tamaño de tabletas y móviles) */
    .contenedor-gb {
        width: 100%;
        margin-top: -250px;
    }
    .img-cp,
    .img-c,
    .img-uo {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        padding: 0%;
    }

    .texto-d {
        width: 100%;
        padding: 10px;
        text-align: center;
    }
    .seccion-cp-pd,
    .seccion-c-gr,
    .seccion-uo-em {
        flex-direction: column;
        text-align: center;
    }

    .seccion-op {
        flex-direction: column;
        text-align: center;
        
    }
    .img-op {
        width: 100%;
        padding: 0%;
        margin: 0 0 0 -60px;
        margin-top: 15px;
    }

    .img-op img {
        width: auto;
        height: 200px;
    }
    
}

