/* ----------------------------------------- GENERAL ------------------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
/* ----------------------------------------- GENERAL ------------------------------------------- */

/* ----------------------------------------- TITULO ------------------------------------------- */
.contenedor_nosotros {
    width: 100%;
}

#volver {
    margin-left: 30px;
    margin-bottom: 50px;
    padding: 10px 20px; /* Ajusta según sea necesario */
    border-radius: 5px; /* Ajusta según sea necesario */
    background-color: #bdbdbd; /* Color gris */
    color: #fff; /* Color del texto */
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

#volver:hover {
    background-color: #970e97; /* Color violeta al pasar el mouse */
    color: #fff; /* Color del texto en hover */
}



/* ----------------------------------------- TITULO ------------------------------------------- */
/* ----------------------------------------- MISION - VISION ------------------------------------------- */
.contenedor-titulo-nosotros {
    text-align: center;
}

.titulo-n h1{
    font-size: 4.5rem; /* Tamaño grande para el título */
    font-weight: normal; /* Puedes ajustar el peso de la fuente según tus preferencias */
    font-family: 'Open Sans', sans-serif;
}

.titulo-n{
    margin-bottom: 20px; /* Margen inferior para separar el título del subtítulo */
}

.bold {
    font-weight: bold; /* Hace que el texto sea más grueso (negrita) */
}

.fino {
    font-weight:500; /* Hace que "Hola! Somos" tenga letras más finas */
}

.subtitulo-n h4 {
    font-weight:500;
    font-size: 1.5rem; /* Tamaño grande para el subtítulo */
    font-family: 'Open Sans', sans-serif;
    margin-top: 5px; /* Margen superior para separar el subtítulo del título */
    font-family: 'Open Sans', sans-serif;
}
/* Contenedor principal */
.contenedor-secciones {
    max-width: 70%;
    margin: 0 auto;
    padding: 100px;
}

/* Estilos para cada sección */
.seccion-historia,
.seccion-mision,
.seccion-valores {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

/* Estilos para la imagen */
.seccion-historia img,
.seccion-mision img,
.seccion-valores img {
    max-width: 100%;
    height: auto;
    margin-left: 50px;
    margin-right: 50px;
}

/* Estilos para el texto */
.texto-derecha,
.texto-izquierda {
    flex: 1;
    padding: 0 20px;
}

/* Títulos */
.texto-derecha h3,
.texto-izquierda h3 {
    color: #333;
    font-size: 2.8rem;
    font-weight: 800;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 30px;
}

/* Párrafos */
.texto-derecha p,
.texto-izquierda p {
    color: #313131;
    line-height: 1.6;
    font-family: 'Open Sans', sans-serif;
}

/* ----------------------------------------- MISION - VISION ------------------------------------------- */

/* ----------------------------------------- MARKETING 360° ------------------------------------------- */
.contenedor-somos {
    background: linear-gradient(to top, #f2ede4, #FFFFFF); 
    text-align: center;
    padding: 40px; /* Espaciado interior para centrar el contenido */
}

.titulo-somos {
    font-size: 2rem;
    margin: 20px 0;
}

.subtitulo-somos {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 20px;
    padding: 30px;
}

.subtitulo-somos p {
    font-size: 1.5rem;
    font-family: 'Open Sans', sans-serif;
}

.tarjetas-somos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tarjetas-s {
    width: calc(33.33% - 40px); /* Ancho de cada tarjeta */
    height: 200px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    text-align: center;
}
.tarjetas-s  h3 {
        font-size: 1.5rem;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        margin-top: 15px;
    }

.tarjetas-s p {
        margin-top: 10px;
        font-family: 'Open Sans', sans-serif;
    }


/* ----------------------------------------- MARKETING 360° ------------------------------------------- */

/* ----------------------------------------- RESUMEN NOSOTROS ------------------------------------------- */

.contenedor-resumen {
    display: flex;
    justify-content: space-around;
    padding: 100px;
}

.tarjeta-resumen {
    width: 23%;
    height: 160px;
    background-color: #0367a6;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.5s;
}

.texto-principal {
    padding: 20px;
    font-size: 3.5rem;
    font-weight: 500;
    color: #fff;
    background-color: #ef0a0a;
    transition: background-color 0.5s;
}

.texto-secundario {
    display: block;
    align-items: center;
    padding: 10px;
    font-size: 1rem;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: left;
    background-color: #0367a6;
    transition: transform 0.5s;
    overflow: hidden;
}

.flecha {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    padding-bottom: 5px;
    transition: transform 0.5s;
}

.tarjeta-resumen:hover .texto-principal {
    background-color: #5233ff;
}

.tarjeta-resumen:hover .texto-secundario {
    transform: translateY(-10px);
}

.tarjeta-resumen:hover .flecha {
    transform: translateY(-50%);
}

/* ----------------------------------------- RESUMEN NOSOTROS ------------------------------------------- */
